version: '3.7'

volumes:
  # bundle-cache:
  gem_cache:
  db_data:
  db_redis:

services:
  app: 
    platform: linux/amd64 
    container_name: desafio-0m30-backend
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    depends_on:     
      - database
      - redis
    ports: 
      - "3000:3000"
    restart: always
    networks:
      - default
    volumes:
      - .:/app
      # - bundle-cache:/bundle
      - gem_cache:/usr/local/bundle/gems
    env_file: .env
    environment:
      RAILS_ENV: development
      ACCOUNT_SID: 'AC8807016260319b6d80900970b8ce5def'
      AUTH_TOKEN: '739f0466a8fe3ebcfd188109c8c5448e'
      PHONE_NUMBER: '+12564149837'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'root'
      DATABASE_HOST: database
      UPSTASH_REDIS_URL: redis://redis:6379
      RACK_ENV: development


  database:
    image: postgres:14.7-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - default
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
  
  redis:
    container_name: redis
    image: redis
    volumes:
    - db_redis:/data
    ports:
      - 6379:6379
    networks:
      - default
