<!-- dynamicModal -->
<div class="modal fade" id="dynamicModal" tabindex="-1" role="dialog" aria-labelledby="dynamicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<!-- dynamicModalLg -->
<div class="modal fade" id="dynamicModalLg" tabindex="-1" role="dialog" aria-labelledby="dynamicModalLgLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<!-- dynamicModalXL -->
<div class="modal fade" id="dynamicModalXl" tabindex="-1" role="dialog" aria-labelledby="dynamicModalXlLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content"></div>
  </div>
</div>
